{%extends 'base.html'%} {%block content%}
<div class="jumbotron">
  <h1>About</h1>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque
    distinctio minus eos, cumque quae dolorem, minima molestiae iusto sapiente
    perferendis explicabo deleniti, ullam eligendi labore suscipit voluptates
    cupiditate exercitationem veritatis. Lorem ipsum, dolor sit amet consectetur
    adipisicing elit. Autem, distinctio necessitatibus quisquam corporis
    mollitia explicabo atque saepe aperiam minus tenetur doloribus repudiandae
    eveniet, ipsa voluptatibus id. Sed fuga sint odit? Lorem ipsum dolor, sit
    amet consectetur adipisicing elit. Deleniti eligendi eaque inventore?
    Corporis nisi nihil quisquam neque eum a similique quam obcaecati laudantium
    culpa voluptas, saepe odio quis mollitia delectus.
  </p>
</div>
{%endblock%}
